*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #333;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}



main{
    padding-right: 10px;
    display: flex;
    align-items: center;
    height: 100%;
}
.rooms{
    padding-left: 10px;
    width: 40vw;
    min-width: 200px;
    max-width: 400px;
    height: 100%;
    border-right: 1px solid #555;
}
.rooms dt{
    width: 100%;
    color: #555;
}
.chat{
    width: 100%;
    height: 100%;
}


header{
    height: 50px;
    background:#1C3A4E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
header a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #fff;
}
header img, footer img{
    width: 30px;
    margin: 10px;
}



footer{
    height: 50px;
    background:#303030;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: #666666;
    div{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}